<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>E-commerce Example Application</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="container">
        <br />
        <nav id="top-navigation" class="well well-sm flex flex-row align-center">
          <a href="#" @click.prevent="isShowing = false"><strong>E-commerce Inc.</strong></a>

          <div class="text-right pull-right cart-info">
            <span class="stats">
              {{ cart.item.length }}
              <template v-if="cart.item.length === 1">item</template>
              <template v-else>items</template>
              in cart, totalling {{ cartTotal | currency }}
            </span>
            <button
              class="btn btn-primary"
              @click="isShowing = true"
              :disabled="cart.item.length === 0"
            >
              View Cart
            </button>
          </div>
        </nav>

        <div v-if="!isShowing" id="products" class="row list-group">
          <div class="item col-xs-4" v-for="product in products">
            <div class="thumbnail">
              <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" />
              <div class="caption">
                <h4 class="group inner list-group-item-heading">{{ product.name }}</h4>
                <p class="group inner list-group-item-text">{{ product.description }}</p>
                <br />

                <div class="row flex flex-row align-center">
                  <div class="col-xs-4">
                    <p class="lead">{{ product.price | currency }}</p>
                  </div>

                  <div class="col-xs-8 flex flex-row align-center justify-right">
                    <div
                      class="number-in-stock"
                      :class="{ few: product.inStock < 10, none: product.inStock === 0 }"
                    >
                      {{ product.inStock }}
                    </div>
                    <button
                      class="btn btn-success"
                      :disabled="product.inStock === 0"
                      @click="addProductsToCart(product)"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-else>
          <h1>Cart</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i  in cart.item">
                <td>{{ i.product.name }}</td>
                <td>
                  {{ i.quantity }}&nbsp;
                  <buttton
                    class="btn btn-success"
                    @click="increaseCartItemQuantity(i)"
                    :disabled="i.product.inStock === 0"
                    >+</buttton
                  >
                  <button class="btn btn-danger" @click="decreaseQuantity(i)">-</button>
                </td>
                <td>{{ i.quantity * i.product.price | currency}}</td>
              </tr>
              <tr>
                <td class="text-right" colspan="2">
                  <strong>Total</strong>
                </td>
                <td>{{ cartTotal | currency }}</td>
              </tr>
              <tr>
                <td class="text-right" colspan="2">
                  <strong>GST Total</strong>
                </td>
                <td>{{ gstTotal | currency }}</td>
              </tr>
              <tr>
                <td class="text-right" colspan="2">
                  <strong>Grand Total</strong>
                </td>
                <td>{{ (cartTotal + gstTotal ) | currency }}</td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><button class="btn btn-success">Checkout</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
